<% if !@approved.nil? and !@approved.empty? %>
                <table class="table">
                    <thead>
                        <tr>
                          <th><%= t("val.managecourse.no")%></th>  
                          <th><%= t("val.managecourse.code")%></th> 
                          <th><%= t("val.managecourse.fullname")%></th> 
                          <% if !@mytasks.nil? and !@mytasks.empty? %>
                               <% @mytasks.each_with_index do |t,index|  %>
                                   <th><%= t.task_name %></th> 
                               <% end %> 
                          <% end %>
                          <th><%= link_to '+++++', new_task_path(:course => flash[:course],:room => flash[:room]), 
                                    data: { modal: true } , class: 'btn btn-info'%></th>
                          <th><%= t("val.managecourse.scoreattribute")%></th>  
                          <th><%= t("val.managecourse.scoretotal")%></th> 
                          <th><%= t("val.managecourse.scoreresult")%></th> 
                        </tr>
                    </thead>
                    <tbody>
                       <% @approved.each_with_index do |rc,index|  %>
                             <tr>
                                <td><%= index+1%></td>
                                <td><%= rc.student_code %></td>
                                <td><%= rc.prefix %><%= rc.name %>   <%= rc.surname %></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                             </tr>
                       <% end %> 
                    </tbody>
                </table>
            <% end %>  