<% if !@emotion.nil? and  @showemo%>
<div class="emotion-radio-block card-body mb-1 p-1 pt-2 bg-white bar-l-1 boder-alizarin">
      <span class="mr-5 h5"><%= "#{t("val.dic.selectemocourse")}#{@currentcousename}  #{t("val.dic.curentemodate")} #{Time.zone.now.strftime("%d/%m/%Y")}"%></span>
      <% @emotion.each_with_index do |t,index|  %>
                <%= radio_button_tag(:emotion, t,!!(@curemotion == t.to_s ? true : false)) %>
                <%= label_tag(t) %>
            <% end %> 
        <%= hidden_field_tag :emo_course_id, params[:course] %>
        <%= hidden_field_tag :emo_room_id, params[:room] %>  
 </div>

<% end %>
<% if !@mytasks.empty? %>
    <div class="card-body mb-1 p-1 bg-white bar-l-1 boder-belize-hole">
         <ul class="list-group">
              <% @mytasks.each do |t|  %>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                          <% 
                             default_score = nil
                             taskresultid = 0
                             findt = @taskresults.find {|s| s.task_id == t.tid }
                             if !findt.nil?
                                if !findt.score.nil? and findt.score != "" 
                                    default_score = findt.score
                                    taskresultid = findt.trid
                                end    
                             end       
                          %>
                         <% if  !default_score.nil? %>
                            <%= link_to "#{t.task_name}/#{t.task_assessment}", new_feedback_path(:taskresult_id => taskresultid,:task_id => t.tid ), 
                                    data: { modal: true }%> 
                         <% else %>
                            <%= t.task_name %>/<%= t.task_assessment %>      
                         <% end %>
                      </li>
              <% end %>    
         </ul>
 </div>
 <div class="card-body mb-1 p-1 bg-white bar-l-1 boder-peter-reriver">
     <div class="row">
         <div class="col-12"><h5 class="card-title"><%= t("val.teacher.studentgraph")%></h5></div>
         <div class="col-12">
             <%= column_chart  @task_datas, colors: ["#E0A052", "#E26F4A"],adapter: "google" %>
         </div>
     </div>
 </div>        
<% end %>