<% if @isparamcorrect %>
<table class="table">
                    <thead class="thead-light">
                        <tr>
                          <th><span><%= t("val.managecourse.no")%></span></th>  
                          <th><span><%= t("val.managecourse.code")%></span></th> 
                          <th><span><%= t("val.managecourse.fullname")%></span></th> 
                          <% if !@mytasks.nil? and !@mytasks.empty? %>
                               <% @mytasks.each_with_index do |t,index|  %>
                                   <th>
                                       <%= link_to "#{t.task_name}/#{t.task_assessment}", edit_task_path(:id => t.tid), 
                                            data: { modal: true } , class: 'btn btn-link'%>
                                   </th> 
                               <% end %> 
                          <% end %>
                          <th><%= link_to '+++++', new_task_path(:course => flash[:course],:room => flash[:room]), 
                                    data: { modal: true } , class: 'btn btn-link'%></th>
                          <th><%= t("val.managecourse.scoreattribute")%></th>  
                          <th><%= link_to t("val.managecourse.scoretotal"), editscore_path(:id => flash[:room]), 
                                    data: { modal: true } , class: 'btn btn-link'%></th> 
                          <th><%= t("val.managecourse.scoreresult")%></th> 
                        </tr>
                    </thead>
                    <% if !@approved.nil? and !@approved.empty? %>
                    <tbody>
                       <% @approved.each_with_index do |rc,index|  %>
                             <tr data-id="<%=rc.uid %>">
                                <td><%= index+1%></td>
                                <td><%= rc.student_code %></td>
                                <td>
                                    <%= link_to studentinfo_path(:uid => rc.uid,:rid => rc.rid), 
                                            data: { modal: true } , class: 'btn btn-link' do %>
                                        <%= rc.prefix %><%= rc.name %>   <%= rc.surname %>
                                    <% end %>        
                                </td>
                                <% if !@mytasks.nil? and !@mytasks.empty? %>
                                       <% @mytasks.each_with_index do |t,index|  %>
                                           <td data-id="<%= t.tid %>" data-task-id="<%= t.tid %>">
                                               <% 
                                                   default_score = nil
                                                   findt = @taskresults.find {|s| s.task_id == t.tid &&  s.user_id == rc.uid}
                                                   if !findt.nil?
                                                       default_score = findt.score
                                                   end   
                                                   behav_json = JSON.parse(t.task_behavior_extra) 
                                                   arr_value = []
                                                   if !default_score.nil?
                                                      arr_value = default_score.split(",")
                                                   end
                                               %>
                                               <% case t.task_behavior 
                                                     when "คะแนน (scoring)" , "rating scale" %>
                                                         <%= text_field_tag nil,default_score, size: 2 ,class: "input-type-number",data: {max: t.task_behavior_extra} %>
                                                         <p class="errormsg mb-0"></p>
                                                     <% when "checklist"%>    
                                                         <div>
                                                             <% behav_json["data"].each_with_index do |bh,index|  %>
                                                                <div class="checklistblock">
                                                                    <%= radio_button_tag("tasklist#{t.tid}#{index}", bh["value1"],!!(arr_value.include? bh["value1"])) %>
                                                                    <%= label_tag(bh["value1"]) %>
                                                                    <%= radio_button_tag("tasklist#{t.tid}#{index}", bh["value2"],!!(arr_value.include? bh["value2"])) %>
                                                                    <%= label_tag(bh["value2"]) %>
                                                                </div>
                                                            <% end %> 
                                                            <a href="javascript:;" class="input-type-checklist" data-saveto="score" >Save</a>
                                                         </div>
                                                     <% when "ข้อความ"%>     
                                                         <%= text_area_tag nil, default_score ,class: "input-type-textordropdown",data: {saveto: "score"}  %>
                                               <% end %>
                                           </td> 
                                       <% end %> 
                                 <% end %>
                                <td></td>
                                <td>
                                    <div class="checkboxattr-block">
                                        <% if !rc.point_attr.nil? and rc.point_attr > 0 %>
                                            <%= check_box_tag nil,nil, rc.is_point_attr ,class: "input-type-checkboxattr",data: {saveto: "is_point_attr"} %>
                                        <% end %>
                                    </div>
                                </td>
                                <td><span data-mytype="mypoint"><%= format('%.2f',rc.average_score)%></span></td>
                                <td><span data-mytype="mygrade"><%= rc.grade %></span></td>
                             </tr>
                       <% end %> 
                    </tbody>
                   <% end %>  
</table>
<% end %>  