<% if !@pendings.nil? and !@pendings.empty? %>
  <div class="card-body mb-1 p-1 bg-white bar-l-1 boder-wisteria">
      <span class="h3 text-wisteria"><%= t("val.dic.pendingapprove")%></span>
  </div>
  <div class="card-body mb-3 p-1 bg-white bar-l-1 boder-amethyst">
      <ul class="list-group">
            <li class="list-group-item">
                   <div class="row">
                       <div class="col h5">
                       </div>
                       <div class="col">
                           <a href="javascript:;" class="approverequest-all btn btn-sm btn-success">Approve All</a>
                       </div>
                   </div>
              </li>
            <% @pendings.each do |rc|  %>
               <li class="list-group-item">
                   <div class="row">
                       <div class="col h5">
                               <span><%= "#{t("val.dic.school")}#{rc.schoolname}" %></span>
                               <span><%= rc.student_code %></span>
                               <span><%= rc.prefix %><%= rc.name %>   <%= rc.surname %></span>
                       </div>
                       <div class="col">
                           <a href="javascript:;" class="approverequest btn btn-sm btn-success" data-id="<%= rc.scid%>">Approve</a>
                           <a href="javascript:;" class="rejectrequest btn btn-sm btn-danger" data-id="<%= rc.scid%>">Reject</a>
                       </div>
                   </div>
               </li>
            <% end %>
        </ul>
  </div>
    
<% end %>  