<div class="card mb-2">
  <div class="card-header bg-primary text-white"><h4 class="h4"><%= t("val.teacher.studeninfottitle")%></h4></div>
  <% if !@stuuser.nil? %>
      <div class="card-body">
        <div class="form-group row">
            <div class="col card-text"><%= t("val.users.name")%></div>
            <div class="col card-text">: <%= @stuuser.name %></div>
        </div>
        <div class="form-group row">
            <div class="col card-text"><%= t("val.users.surname")%></div>
            <div class="col card-text">: <%= @stuuser.surname %></div>
        </div>
        <div class="form-group row">
            <div class="col card-text"><%= t("val.users.student_code")%></div>
            <div class="col card-text">: <%= @stuuser.student_code %></div>
        </div>
        <div class="form-group row">
            <div class="col card-text"><%= t("val.users.email")%></div>
            <div class="col card-text">:  <%= @stuuser.email %></div>
        </div>
      </div>
    <% end %>  
</div>
<div class="card mb-2">
  <div class="card-body">
      <div class="form-group row">
        <div class="col card-text"><%= t("val.teacher.rigistercourse")%></div>
        <div class="col card-text">: <%= @mycourse.couse_name %></div>
    </div>
    <div class="form-group row">
        <div class="col card-text"><%= t("val.teacher.studentpendingwork")%></div>
        <div class="col card-text">
            <% if !@unfinishtask.empty? %>
              <ul class="col">
                   <% @unfinishtask.each do |ut|  %>
                     <li><%= ut.task_name %></li>
                   <% end %>
              </ul>
            <% end %>
        </div>
    </div>
    <div class="form-group row">
        <div class="col card-text"><%= t("val.teacher.studentapprovedwork")%></div>
        <div class="col card-text">
          <% if !@finishedtask.empty? %>
              <ul class="col">
                   <% @finishedtask.each do |ut|  %>
                     <li><%= ut.task_name %></li>
                   <% end %>
              </ul>
            <% end %>
        </div>
    </div>
    <div class="form-group row hidden">
        <div class="col card-text"><%= t("val.teacher.studentemotion")%></div>
        <div class="col card-text">:</div>
    </div>
  </div>
</div>
<div class="card mb-2">
  <div class="card-body">
    <h5 class="card-title"><%= t("val.teacher.studentemotion")%></h5>
    <div class="row">
        <div class="col">
             <%= hidden_field_tag :emo_userid, @stuuser.id %>
             <%= hidden_field_tag :emo_courseid, @myroom.course_id %>
             <%= hidden_field_tag :emo_roomid, @myroom.id %>
             <span><%= t("val.emotion.datefrom") %></span>
             <%= date_field_tag(:emo_from, Date.today)%>
        </div>
        <div class="col">
             <span><%= t("val.emotion.dateto") %></span>
             <%= date_field_tag(:emo_to, Date.today)%>
        </div>
        <div class="col">
            <a id="emotionsearch" class="btn btn-info align-middle text-white">OK</a>
        </div>
    </div>
    <div id="emotion_graph_holder"></div>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= t("val.teacher.studentgraph")%></h5>
    <%= column_chart  @task_datas, colors: ["#3BBAB5", "#FF8C62"],library: {legend: {
            itemStyle: {
                 fontSize: '22px'
              }
        },
        xAxis: {
            labels: {
                style: {
                    fontSize:'22px'
                }
            }
        },
        yAxis: {
          labels: {
                style: {
                    fontSize:'22px'
                }
            }
        },
        tooltip: {
            style: {
                    fontSize:'15px'
                }
        }},adapter: "highcharts" %>
  </div>
</div>