 <%= f.input :course_id, :as => :hidden, :input_html => { :value => params[:course]} %>
 <%= f.input :room_id, :as => :hidden, :input_html => { :value => params[:room] } %> 
<div class="form-group">
     <%= f.input :task_name, required: true, autofocus: true,placeholder: "" ,input_html: {class: "form-control" }%>
</div>
<div class="form-group">
     <%= f.input :task_detail , as: :text, required: true,placeholder: "",input_html: {class: "form-control" } %>
</div>
<div class="form-group">
     <%= f.input :task_assessment , required: true do %>
       <%= f.select(:task_assessment, assessments, {:include_blank  => true},{ :class => 'form-control form-control-sm'})%>
     <% end %>
</div>
<div class="form-group">
     <%= f.submit 'Save' ,class: "btn btn-pink btn-scoll-fixed fixed-right" %>
</div>