<div class="bg-gray-01 pt-5 pb-5">
  <div class="container">
      <div class="row">
           <div class="col">
               <div class="img-home-block">
                   <%= image_tag("img6.png",class: "img-home") %>
                   <div class="circle-home"></div>
               </div>
           </div> 
           <div class="col">
              <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name),html: {class: "card box-shadow--8dp"}) do |f| %>
                  <div class="card-header">
                     <h1 class="big-header text-primary text-center">Log in</h1>
                  </div>
                  <div class="card-body pb-0">
                     <%= f.error_notification %>
                    <div class="form-group">
                      <%= f.input :email, required: true, autofocus: true ,label: false,placeholder: "Email" ,input_html: {class: "form-control" }%>
                    </div>
                    <div class="form-group">
                      <%= f.input :password, required: true ,label: false,placeholder: "Password",input_html: {class: "form-control" } %>
                    </div>
                    <div class="form-group text-primary">
                    <%= f.input :remember_me , as: :boolean if devise_mapping.rememberable? %>
                    </div>
                  </div>
                  <div class="card-footer card-footer pb-4">
                    <%= f.button :submit, t("val.button.signintext") ,class: "btn btn-primary  btn-lg form-control box-shadow--8dp "%>
                    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                      <%= link_to "Forgot your password?", new_password_path(resource_name),class: "hidden" %><br />
                    <% end -%>
                  </div>
              <% end %>
           </div> 
         </div>   
    </div> 
</div>