<div class="card mb-3 bg-transparent border-0" id="teacher-index-container" data-currentpath="<%= current_class?(teacher_dashboard_path)%>">
  <div class="card-body mb-1 bg-white bar-l-1 boder-green-sea p-2"><h3><%= t("val.student.registercourse")%></h3></div>
  <div class="card-body mb-3 bg-white bar-l-1 boder-emerald">
    <%= form_tag(student_dashboard_path, method: :get,class: "form-inline my-2 my-lg-0") do %>
                        <%= text_field_tag "course_pin" ,params[:course_pin],placeholder: t("val.home.placeholder_pin"),class: "form-number-only form-control" %> 
                        <%= button_tag(type: "submit", class: "btn btn-outline-success my-2 my-sm-0") do %>
                            <i class="fas fa-play-circle"></i>
                        <% end %>
   <% end %>   
    
        <% if !@course.nil? and @course.length > 0 %>
             <ul class="list-group pt-2">
                <% @course.each do |c|  %>
                    <li class="list-group-item list-group-item-success d-flex justify-content-between align-items-center">
                        <%= c.couse_name %>/<%= c.room_name %>
                        <%= link_to "Request" , newrequest_path(r_id: c.roomid,c_id: c.courseid)  ,method: :post , :data => {:confirm => 'Are you sure?'},:class => "btn btn-sm btn-primary" %>
                      </li>
                <% end %>
              </ul>    
        <% else %>
            <% if !params[:course_pin].nil?%>
                <% if params[:course_pin] != "" %>
                    <div class="alert alert-danger" role="alert">
                       <%= t("val.student.coursenotfound")%>
                    </div>
                <% else %>
                    <div class="alert alert-danger" role="alert">
                       <%= t("val.student.pleaseinsertpin")%>
                    </div>
                <% end %>    
            <% end %>    
        <% end %>  
   
     <% if !@pendingcourses.nil? %>
         <hr/>
         <h3 class="h5"><%= t("val.student.waitingcourse")%></h3>
         <ul class="list-group">
              <% @pendingcourses.each do |rc|  %>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <%= rc.couse_name %>/<%= rc.room_name %>
                        <span class="ml-5 text-warning"><%= t("val.student.watingapprve")%></span>
                      </li>
              <% end %>    
            </ul>
     <% end %>
  </div>    
  <div class="card-body mb-1 p-1 pt-2 bg-white bar-l-1 boder-permegranate">
      <div class="form-inline">
          <div class="form-group mb-2">
            <span class="h4"><%= t("val.student.mycourse")%></span>
          </div>
          <div class="form-group mx-sm-3 mb-2">
            <%= select_tag :mycourse, options_for_select(@approvecourses.collect{|p| ["#{p.couse_year}-#{p.couse_name}/#{p.room_name}", "#{p.cid},#{p.rid}"]}),
                        prompt: "Select Course", class: "form-control w-100"%>
          </div>
      </div>
  </div>
  <div id="mycourse-holder" class="card mb-3 bg-transparent border-0"></div>
</div>