<h2>Import Data</h2>
<% if flash[:importmsg] %>
      <% flash[:importmsg].each do |error| %>
        <div class="alert alert-success" role="alert"><%=error%></div>
      <%end%>
  <%end%>
<%= form_tag adminimport_path , :method => :post, multipart: true do %>
  <%= select_tag :dbtable, options_for_select([ "School"]), {:include_blank => 'Please select Database Table'} %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>
<%= @anser1 %>