<% if !calulatetask.nil? %>
               <div class="task_can_select row justify-content-end" data-task_can_select="<%= calulatetask.collect{|p| [p.task_name, p.tid]} %>">
                   <div class="col-11">
                       <div class="d-flex">
                           <% calulatetask.each do |rc|  %>
                                <a href="javascript:;" class="selecttask btn btn-primary btn-sm  mr-2" role="button" 
                                     data-id="<%= rc.tid %>" data-task-name="<%= rc.task_name %>/<%= rc.task_assessment %>"><%= rc.task_name %>/<%= rc.task_assessment %></a>
                          <% end %>  
                      </div>
                  </div>
               </div>
<% end %> 