<div class="bg-gray-01 pt-5 pb-5">
  <div class="container">
      <div class="row">
           <div class="col">
               <div class="img-home-block">
                   <%= image_tag("img6.png",class: "img-home") %>
                   <div class="circle-home"></div>
               </div>
           </div> 
           <div class="col text-center">
               <div class="row pb-5">
                   <span class="col-12 h1"><%= t('val.home.webdescript') %></span>
               </div>
               <div class="row pb-5">
                   <div class="col-5 d-flex flex-column">
                       <%= link_to t('val.home.txtcreateaccount'), "#select_account_type",class: "btn btn-outline-primary w-100 mt-auto" %>
                   </div>
                   <div class="col-3 text-center d-flex flex-column">
                       <%= image_tag("img1.png") %>
                   </div>
                   <div class="col-4 d-flex flex-column">
                       <%= link_to t('val.home.txtlogin'), new_user_session_path,class: "btn btn-outline-primary w-100 mt-auto" %>
                   </div>
               </div>
               <div class="row">
                   <div class="col text-center">
                       <p class="h5"><%=t('val.home.txtcap1')%></p>
                       <pspan class="h4"><%=t('val.home.txtcap2')%></p>
                   </div>
               </div>
           </div> 
         </div>   
    </div> 
</div>
<div id="how_it_work" class="howitwork pt-5 pb-5">
    <div class="container">
      <div class="row pb-5">
           <div class="col">
               <span class="h1 text-primary">How it works.</span>
           </div>
      </div>
      <div class="row text-primary">
          <div class="col col-md-4">
              <div class="card border-0">
                  <div class="card-body">
                    <h5 class="card-title text-center">01</h5>
                    <p class="card-text h2 pb-4">Assest</p>
                    <p class="card-text"><%= t("val.home.assess_des")%></p>
                  </div>
              </div>
          </div>
          <div class="col col-md-4">
              <div class="card border-0">
                  <div class="card-body">
                    <h5 class="card-title text-center">02</h5>
                    <p class="card-text h2 pb-4">Feedback</p>
                    <p class="card-text"><%= t("val.home.feedback_des")%></p>
                  </div>
              </div>
          </div>
          <div class="col col-md-4">
              <div class="card border-0">
                  <div class="card-body">
                    <h5 class="card-title text-center">03</h5>
                    <p class="card-text h2 pb-4">Visualization</p>
                    <p class="card-text"><%= t("val.home.visualization_des")%></p>
                  </div>
              </div>
          </div>
      </div>
    </div>
</div>
<div id="select_account_type" class="select_type pt-5 pb-5">
    <div class="container">
        <div class="row pb-5">
               <div class="col">
                   <span class="h1 text-primary">Create Account</span>
               </div>
        </div>
        <div class="d-flex flex-row">
            <div class="col text-right d-flex align-items-center justify-content-end pt-5 pb-5">
                <%= image_tag("img2.png",style: "max-height:470px",class: "img-fluid") %>
                <%= link_to t('val.home.imteacher'), new_teacher_path,class: "btn btn-info align-items-center m-4" %>
            </div>
             <div class="col d-flex align-items-center bg-blue-1 pt-5 pb-5">
                 <%= link_to t('val.home.imstudent'), new_user_registration_path,class: "btn btn-outline-info text-white align-items-center m-4" %>
                 <%= image_tag("img3.png",style: "max-height:296px",class: "mt-auto") %>
                 <%= image_tag("img4.png",style: "max-height:250px",class: "mt-auto") %>
             </div>
        </div>
    </div>
</div>