<div class="pt-5 pb-5 shadow-sm">
  <div class="container">
      <div class="row">
           <div class="col-md col-lg-5 col-xl-6 my-auto">
               <%= image_tag("img8.png",class: "w-100") %>
           </div> 
           <div class="col-md col-lg-7 col-xl-6 text-center my-auto">
               <div class="row pb-5">
                   <span class="col-12 h1 h-5rem"><%= t('val.home.webdescript') %></span>
               </div>
               <div class="row pb-5">
                   <div class="col-5 d-flex flex-column">
                       <%= link_to t('val.home.txtcreateaccount'), selecttype_path,class: "btn btn-outline-info white-space-nomal mt-auto" %>
                   </div>
                   <div class="col-3 text-center d-flex flex-column">
                       <%= image_tag("img1.png",class: "mt-auto w-100") %>
                   </div>
                   <div class="col-4 d-flex flex-column">
                       <%= link_to t('val.home.txtlogin'), new_user_session_path,class: "btn btn-outline-primary mt-auto" %>
                   </div>
               </div>
               <div class="row">
                   <div class="col text-center">
                       <p class="h4"><%=t('val.home.txtcap1')%></p>
                       <pspan class="h3 text-pumpkin"><%=t('val.home.txtcap2')%></p>
                   </div>
               </div>
           </div> 
         </div>   
    </div> 
</div>
<div id="how_it_work" class="howitwork pt-5 pb-5">
    <div class="container">
      <div class="row pb-5">
           <div class="col">
               <span class="h1 text-primary">How it works.</span>
           </div>
      </div>
      <div class="row text-primary">
          <div class="col-sm-12 col-md-4">
              <div class="card border-0">
                  <div class="card-body">
                    <h5 class="card-title text-center">01</h5>
                    <p class="card-text h2 pb-4">Assess</p>
                    <p class="card-text h5"><%= t("val.home.assess_des")%></p>
                  </div>
              </div>
          </div>
          <div class="col-sm-12 col-md-4">
              <div class="card border-0">
                  <div class="card-body">
                    <h5 class="card-title text-center">02</h5>
                    <p class="card-text h2 pb-4">Feedback</p>
                    <p class="card-text h5"><%= t("val.home.feedback_des")%></p>
                  </div>
              </div>
          </div>
          <div class="col-sm-12 col-md-4">
              <div class="card border-0">
                  <div class="card-body">
                    <h5 class="card-title text-center">03</h5>
                    <p class="card-text h2 pb-4">Visualize</p>
                    <p class="card-text h5"><%= t("val.home.visualization_des")%></p>
                  </div>
              </div>
          </div>
      </div>
    </div>
</div>
