<div id="select_account_type" class="select_type">
    <div class="container">
        <div class="d-md-flex">
            <div class="col text-right d-md-flex align-items-center justify-content-end pt-5 pb-5">
                <%= image_tag("img2.png",class: "img-fluid img-teacher") %>
                <%= link_to t('val.home.imteacher'), new_teacher_path,class: "btn btn-info align-items-center m-4" %>
            </div>
             <div class="col d-md-flex align-items-center bg-blue-1 pt-5 pb-5">
                 <%= link_to t('val.home.imstudent'), new_user_registration_path,class: "btn btn-outline-info text-white align-items-center m-4" %>
                 <%= image_tag("img3.png",class: "mt-auto img-student-boy") %>
                 <%= image_tag("img4.png",class: "mt-auto img-student-girl") %>
             </div>
        </div>
    </div>
</div>