<div class="card mb-3 bg-transparent border-0" id="teacher-manage-container" data-currentpath="<%= current_class?(managecourse_path)%>">
  <div class="card-body mb-3 bg-white bar-l-1 boder-green-sea">
      <%= form_tag managecourse_path ,class: "row",:id => "from-select-room" do %>
          <div class="col-sm-6 form-inline border-right">
              <div class="row w-100 mb-2">
                  <div class="col">
                   <%= select_tag :year, options_for_select(@years.collect{|p| [p.couse_year, p.couse_year]}, selected: params[:year]),
                    prompt: "Select year", class: "form-control w-100" %>
                  </div>   
                  <div class="col-6">
                    <%= select_tag :course, options_for_select(@courses.collect{|p| [p.couse_name, p.id]}, selected: params[:course]),
                        prompt: "Select course", class: "form-control w-100" ,:disabled => @courses.empty? %>
                  </div>  
              </div>
              <div class="row w-100 text-right"> 
                  <div class="col">
                    <%= link_to new_course_path, data: { modal: true } , class: 'btn btn-primary btn-sm' do %>
                      <%= icon('fa', 'plus-square')%><span class="ml-2">New Course</span>
                    <% end %> 
                    <%= link_to editcourse_path, id: "edit_course",data: { modal: true , send_params: Hash({id: "course"})}, class: "btn btn-warning btn-sm #{params[:course].nil?? "hidden" : ""}" do %>
                      <%= icon('fas', 'pen-square') %><span class="ml-2">Edit Course</span>
                    <% end %>  
                  </div>        
              </div>
          </div> 
          <div class="col-sm-6 form-inline">
              <div class="row w-100 mb-2">
                  <div class="col ml-4">
                    <%= select_tag :room, options_for_select(@rooms.collect{|p| [p.room_name, p.id]}, selected: params[:room]),
                        prompt: "Select room", class: "form-control w-100" ,:disabled => @rooms.empty? %>
                  </div>   
                  <div class="col-4">
                      <%= submit_tag "OK" ,id: "findcourse", :disabled => true,class: 'btn btn-info align-middle'%>
                  </div>  
              </div>     
              <div class="row w-100"> 
                  <div class="col ml-4">
                    <%= link_to new_room_path, data: { modal: true } , class: 'btn btn-primary btn-sm' do %>
                      <%= icon('fa', 'plus-square')%><span class="ml-2">New Room</span>
                    <% end %> 
                    <%= link_to editroom_path, id: "edit_room",data: { modal: true , send_params: Hash({id: "room"})}, class: "btn btn-warning btn-sm #{params[:room].nil?? "hidden" : ""}" do %>
                      <%= icon('fas', 'pen-square') %><span class="ml-2">Edit Room</span>
                    <% end %>  
                  </div>        
              </div> 
              
          </div>      
      <% end %>
  </div>
  <div class="card-body mb-3 p-1 bg-white bar-l-1 boder-belize-hole">
    <% if !@roombyid.nil? %>
      <div class="col">
        <div class="input-group mr-sm-2">
            <div class="input-group-prepend">
              <div class="input-group-text">PIN</div>
            </div>
            <span class="h2 mb-0 text-muted p-2 pl-4 pr-4 border"><%= @roombyid.room_pin %></span>
        </div>
      </div>
      <% end %>
  </div>
  <div class="card-body mb-3 p-1 bg-white bar-l-1 boder-pumpkin scroll-x">
      <div id="approved-holder" class="p1"></div>
  </div>
  <div id="pending-holder" class="card mb-3 bg-transparent border-0"></div>

</div>