<h2>Manage Course</h2>
<%= @testtrue %>
<div class="row">
    <div class="col form-group">
            <%= form_tag managecourse_path ,class: "row",:id => "from-select-room" do %>
               <%= select_tag :year, options_for_select(@years.collect{|p| [p.couse_year, p.couse_year]}, selected: params[:year]),
                prompt: "Select year", class: "form-control col-md-2" %>
                <%= select_tag :course, options_for_select(@courses.collect{|p| [p.couse_name, p.id]}, selected: params[:course]),
                    prompt: "Select course", class: "form-control col-md-4" ,:disabled => @courses.empty? %>
                <%= select_tag :room, options_for_select(@rooms.collect{|p| [p.room_name, p.id]}, selected: params[:room]),
                    prompt: "Select room", class: "form-control col-md-4" ,:disabled => @rooms.empty? %>
              <%= submit_tag "OK" ,id: "findcourse", :disabled => true,class: 'btn btn-info align-middle  col-md-2'%>
            <% end %>
        <div class="row">
            <%= link_to 'Create Course', new_course_path, 
                    data: { modal: true } , class: 'btn btn-info'%>
            <%= link_to 'Edit Course', editcourse_path, id: "edit_course",
                    data: { modal: true , send_params: Hash({id: "course"})} , class: "btn btn-warning #{params[:course].nil?? "hidden" : ""}"%>        
            <%= link_to 'Create Room', new_room_path, 
                    data: { modal: true } , class: 'btn btn-primary'%>   
            <%= link_to 'Edit Room', editroom_path, id: "edit_room",
                    data: { modal: true , send_params: Hash({id: "room"})} , class: "btn btn-warning #{params[:room].nil?? "hidden" : ""}"%>            
        </div>
        <div class="row">
            <div id="approved-holder" class="col"></div>
        </div>
        <div class="row">
            <div id="pending-holder" class="col"></div>
        </div>
    </div>
</div>


 
<%# link_to 'New User (AJAX Modal)', new_course_path, remote: true, class: 'btn btn-info' %>
<%= link_to t('val.button.backtodashboard'), teacher_dashboard_path,class: "btn btn-info align-middle" %>