<%= hidden_field_tag :isscoreedit, isscoreedit %>
<% if !isscoreedit %>
     <div class="form-group">
         <%= f.input :course_id, collection: @courses.map { |object| [object.couse_name.concat("/").concat(object.couse_year), object.id, {}] }, label_method: :first, value_method: :second ,
              required: false,input_html: {class: "form-control" }%>
     </div>
     <div class="form-group">
          <%= f.input :room_name, required: false,placeholder: "",input_html: {class: "form-control" } %>
     </div>
     <div class="form-group">
          <%= f.input :room_detail, required: false,placeholder: "",input_html: {class: "form-control" } %>
     </div>
     <div class="form-group">
          <div class="input-group mb-2">
             <%= f.input :room_pin, required: false,label: false,placeholder: "random pin",:readonly => true,input_html: {class: "form-control" },validate: true %>
             <div class="input-group-append">
                   <a href="javascript:;" title="Random" class="random-mypin btn btn-sm input-group-text btn-primary " role="button"><i class="fas fa-random"></i></a>
              </div>   
          </div>
     </div>
<% else %>
     <div class="form-group">
     <%= f.input :point_attr, autofocus: false,placeholder: "" ,input_html: {class: "form-control" }%>
     </div>
     <div class="form-group">
          <div class="row">
               <div class="col-12 scorezone">
                    <div>1.สัดส่วนคะแนน</div>
                    <%= f.input :ratio_score, required: true, autofocus: false,label: false ,input_html: { :class => 'form-control hidden'} %>
                    <%= render partial: "shared/room_score"%>
               </div>
               <div class="col-12 gradezone">
                    <div>2.การให้เกรด</div>
                    <%= f.input :ratio_grade, required: true, autofocus: false,label: false ,input_html: { :class => 'form-control hidden'} %>
                    <div class="form-group">
                         <% if !@grades.nil? %>
                         <%= select_tag :ratio_grade_text, options_for_select(@grades),
                             prompt: "Select Grade", class: "form-control"%>
                         <% end %>    
                    </div>
                    <div class="gradboxTemplate" style="display:none;">
                         <div class="row form-group justify-content-md-center">
                              <div class="col-2  num-left"><%= text_field_tag nil,nil,class: "form-control text-center" %></div>
                              <div class="col-1 text-center oper-left"></div>
                              <div class="col-2  grade-text"><%= text_field_tag nil,nil,class: "form-control text-center" %></div>
                              <div class="col-1 text-center oper-right"></div>
                              <div class="col-2  num-right"><%= text_field_tag nil,nil,class: "form-control text-center" %></div>
                         </div>
                    </div>
                    <div class="gradeblock">
                         
                    </div>
               </div>
          </div>
     </div>   
<% end %>     
<div class="form-group">
     <%= f.submit 'Save',:onclick => "beforesaveroom();",class: "btn btn-primary btn-scoll-fixed fixed-right" %>
     <script type="text/javascript">
          function beforesaveroom(){
               var json_roomscore = {
                   results: []
               }
               $(".scorezone").find(".showPercent .percent_block").each(function(){
                     var mytype = $(this).data("type");
                     var mytxt = $(this).find(".max-score lable:first").text();
                     var myscore = $(this).find(".max-score input:first").val();
                     var nfq = {
                         maxscore: {text: mytxt,score: myscore,type: mytype,childs:[]} 
                     };
                     $(this).find(".child-score .content .percent_input_block").each(function(){
                          var mychildtxt = $(this).find("lable").text();
                          var mychildscore = $(this).find("input").val();
                          var myid = $(this).find("input").data("id")
                          objchildscore = {text: mychildtxt,score: mychildscore,id: myid}
                          nfq.maxscore.childs.push(objchildscore)
                     });
                     json_roomscore.results.push(nfq)
               });
               
               $("#room_ratio_score").val(JSON.stringify(json_roomscore));
               
               selectchoice = $(".gradezone #ratio_grade_text").val()
               var json_roomgrade = {
                   choice: selectchoice,
                   blocks:[]
               }
               $(".gradezone .gradeblock .form-group").each(function(){
                    leftnum = $(this).find(".num-left input").val();
                    leftnumindex = $(this).find(".num-left input").attr("data-index");
                    leftoper = $(this).find(".oper-left").text();
                    gtext = $(this).find(".grade-text input").val();
                    rightoper  = $(this).find(".oper-right").text();
                    rightnum = $(this).find(".num-right input").val();
                    rightnumindex =  $(this).find(".num-right input").attr("data-index");
                    
                    gobj = {
                        leftnum: leftnum, 
                        leftnumindex: leftnumindex, 
                        leftoper: leftoper, 
                        gtext: gtext, 
                        rightoper: rightoper, 
                        rightnum: rightnum, 
                        rightnumindex: rightnumindex
                    }
                    json_roomgrade.blocks.push(gobj)
               });
               $("#room_ratio_grade").val(JSON.stringify(json_roomgrade));
               
          }
     </script>
</div>