<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="p-4">
  <div class="container">
      <p class="notice-alert mb-0 pb-0"><%= notice %></p>
      <p class="alert  mb-0 pb-0"><%= alert %></p>
      <% if !current_user.nil? %>
        <div class="row">
          <div class="col">
               <%= link_to t('val.button.signout'), destroy_user_session_path, method: "delete" ,class: "btn btn-primary"%>
          </div>
        </div>
     <% end %>
      <%= yield %>
  </div>  
  <div id="modal-holder"></div>
  <div id='remotecontainer'></div>
</body>
</html>
