<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="spinner-main" style="display:none;">
           <div class="loader-wrapper">
            <div class="loader"></div>
         
            <div class="loader-section section-left"></div>
            <div class="loader-section section-right"></div>
         
        </div>
  </div>
  <% if @master_layout == 1 %>
      <!-- Bootstrap NavBar -->
        <div class="sidebar-expanded" id="body-row">
            <!-- Sidebar -->
            <div id="sidebar-container" class="sidebar-expanded d-none d-md-block sidebar bg-white border-right shadow-sm"><!-- d-* hiddens the Sidebar in smaller devices. Its itens can be kept on the Navbar 'Menu' -->
                <!-- Bootstrap List Group -->
                <div class="sidebar-inner">
                    <div class="sidebar-logo text-center text-uppercase p-2 pb-3">
                        <div class="align-items-center">
            	            <%= image_tag("img5.png",class: "rounded mx-auto d-block w-100") %>
            	            <div class="menu-collapsed mt-2 h3 text-green-sea text-shadow-1"><%= t('val.websitename') %></div>    
            	        </div>
                    </div>
                    <div class="text-center pt-4 menu-collapsed">
                       <% if current_user%>
                            <p class="h2 text-shadow-1"><%= "#{current_user.prefix}#{current_user.name}  #{current_user.surname}" %></p>
                            <% if current_user.role == "student"%>
                                <p class="h4"><%= current_user.student_code %></p>
                            <%end%>
                            <% if current_user.school %>
                                <p class="h4"><%= "#{t("val.dic.school")}#{current_user.school.school_name}" %></p>
                            <%end%>
                            <p class="h4"><%= current_user.email %></p>
                        <% end %>
                    </div>
                </div>
            </div><!-- sidebar-container END -->
        
            <!-- MAIN -->
            <div class="page-container">
        		<div class="header navbar shadow-sm">
                    <div class="header-container">
                      <ul class="nav-left nav">
                          <li><a data-toggle="sidebar-colapse" class="sidebar-toggle" href="javascript:void(0);"><span class="icon border p-2 shadow-sm"><%= icon('fas', 'align-justify')%></span></a></li>
                          <% if current_user.role == "teacher" %>
                              <li class="nav-item">
                                  <%= link_to teacher_dashboard_path, method: "get",class: "nav-link #{current_class?(teacher_dashboard_path)}" do %>
                                      <span class="menu">   
                                         <span class="ico-sarabun fas fa-folder fa-fw mr-3"></span><span>Dashboard</span>  
                                      </span>        
                                  <% end %>
                               </li>   
                               <li class="nav-item"> 
                                  <%= link_to managecourse_path, method: "get",class: "nav-link #{current_class?(managecourse_path)}" do %>
                                      <span class="menu">  
                                          <span class="ico-sarabun fas fa-folder fa-fw mr-3"></span>
                        	              <span><%= t('val.teacher.coursemanange')%></span>
                    	              </span>  
                                  <% end %>
                              </li>  
                          <% else %> 
                              <li class="nav-item">
                                  <%= link_to student_dashboard_path, method: "get",class: "nav-link #{current_class?(student_dashboard_path)}" do %>
                                      <span class="menu">   
                                         <span class="ico-sarabun fas fa-folder fa-fw mr-3"></span><span>Dashboard</span>  
                                      </span>        
                                  <% end %>
                               </li>   
                          <% end %>
                      </ul>
                      <%  if current_user %>
                          <ul class="nav-right">
                              <li class="nav-item dropdown">
                                <a class="dropdown-toggle no-after peers fxw-nw ai-c lh-1" data-toggle="dropdown" aria-expanded="false">
                                     <span></span>
                                     <span><%= "#{current_user.name}  #{current_user.surname}" %></span>
                                </a>
                                <ul class="dropdown-menu fsz-sm">
                                    <li><%= link_to t('val.button.signout'), destroy_user_session_path, method: "delete" ,class: "dropdown-item"%></li>
                                </ul>
                              </li>
                          </ul>
                       <% end %>      
                     </div>  
                  </div>
                  <div class="main-content bgc-grey-100">
                      <div id="mainContent">
                         <%= yield %>
                       </div>
                  </div>
        	</div>    <!-- Main Col END -->
            
        </div>

  <% elsif @master_layout == 2 %>
          <div class="sidebar">
            <div class="sidebar-inner">
              <div class="sidebar-logo text-center">
                 <a href="<%=teacher_dashboard_path%>">
                     <div class="row">
                       <div class="col logo p-1">
                           <%= image_tag("img5.png") %>
                       </div>
                       <span class="h3 col color-green1"><%= t('val.websitename') %></span>
                     </div>
                 </a>
              </div>
              <div class="sidebar-menu scrollable pos-r ps list-group">
               <% if current_user.role == "teacher" %>
                  <%= link_to "Dashboard", teacher_dashboard_path, method: "get",class: "list-group-item list-group-item-action #{current_class?(teacher_dashboard_path)}" %>
                  <%= link_to t('val.teacher.coursemanange'), managecourse_path, method: "get" ,class: "list-group-item list-group-item-action #{current_class?(managecourse_path)}"%>  
                <% else %>  
                   <%= link_to "Dashboard", student_dashboard_path,class: "list-group-item list-group-item-action #{current_class?(student_dashboard_path)}" %>    
                <% end %>
              </div>
            </div>
          </div>
          <div class="page-container">
              <div class="header navbar">
                <div class="header-container">
                  <ul class="nav-left">
                      <li><a id="sidebar-toggle" class="sidebar-toggle" href="javascript:void(0);"><%= icon('fas', 'align-justify')%></a></li>
                  </ul>
                  <ul class="nav-right">
                      <li class="dropdown">
                        <a class="dropdown-toggle no-after peers fxw-nw ai-c lh-1" data-toggle="dropdown" aria-expanded="false">Name</a>
                        <ul class="dropdown-menu fsz-sm">
                            <li><%= link_to t('val.button.signout'), destroy_user_session_path, method: "delete" ,class: ""%></li>
                        </ul>
                      </li>
                  </ul>
                 </div>  
              </div>
              <div class="main-content bgc-grey-100">
                  <div id="mainContent">
                     <%= yield %>
                   </div>
              </div>
          </div>
  <% else %>
        <!-- Bootstrap NavBar -->
        <header class="navbar navbar-expand-md">
            <div class="container">
             <div class="col-md p-0">
                  <%= link_to root_path,class: "navbar-brand" do %>
                      <%= image_tag("img5.png") %>
                      <h2 class="websitename color-green1"><%= t('val.websitename') %></h2> 
                  <% end %>   
              </div>
              <div class="col-md p-0">
                  <ul class="navbar-nav float-right">
                      <% if current_class?(root_path) %>
                          <%= form_tag(student_dashboard_path, method: :get,class: "form-inline my-2 my-lg-0") do %>
                            <%= text_field_tag "course_pin" ,nil,placeholder: t("val.home.placeholder_pin"),class: "form-number-only form-control w-auto" %> 
                            <%= button_tag(type: "submit", class: "btn btn-outline-success my-2 my-sm-0") do %>
                                <i class="fas fa-play-circle"></i>
                            <% end %>
                        <% end %> 
                      <% elsif current_class?(new_user_registration_path) or current_class?(user_registration_path)%>    
                          <%= link_to t('val.button.backtotype'), selecttype_path,class: "btn btn-outline-primary mt-auto" %>
                      <% elsif current_class?(selecttype_path) %>    
                          <%= link_to t('val.home.txtlogin'), new_user_session_path,class: "btn btn-outline-primary mt-auto" %>
                      <% elsif current_class?(new_user_session_path) %>    
                          <%= link_to t('val.home.txtcreateaccount'), selecttype_path,class: "btn btn-outline-primary mt-auto" %>
                      <% end %>
                  </ul>
              </div>
          </div>
        </header><!-- NavBar END -->
        <div class="container">
          <% if !notice.nil? %>
              <p class="notice-alert mb-0 pb-0"><%= notice %></p>
          <% end %>
          <% if !alert.nil? %>
              <p class="alert  mb-0 pb-0"><%= alert %></p>
          <% end %>
        </div> 
        <% if @notcontainer %>
            <%= yield %> 
        <% else %>
            <div class="container">
                <%= yield %> 
            </div> 
        <% end %> 
  <% end %>      
  <div id="modal-holder"></div>
  <div id='remotecontainer'></div>
  <div id="spinter-holder"  style="display:none;">
      <div class="spinner">
           <div class="loader-wrapper">
            <div class="loader"></div>
         
            <div class="loader-section section-left"></div>
            <div class="loader-section section-right"></div>
         
        </div>
       </div>
   </div>
</body>
</html>
