                  <%= f.input :istteacher, :as => :hidden, :input_html => { :value => isteacher } %>  
                  <% if isteacher %>
                      <%= f.input :role, :as => :hidden, :input_html => { :value => "teacher" } %>
                  <% end %>      
                  <div class="form-group">
                      <%= f.input :school_id, collection: [] , required: true,:label => false , validate: true %>
                  </div>
                  <% if !isteacher %>
                      <div class="form-group">
                           <%= f.input :student_code ,:label => false , required: true ,input_html: {class: "form-control" } ,placeholder: "#{t('val.users.student_code')}*", validate: true%>
                      </div>
                  <% end %>
                  <div class="form-group row">
                      <div class="col-sm-4">
                         <%= f.input :prefix , required: true,:label => false,input_html: {class: "form-control" },placeholder: "#{t('val.users.prefix')}*", validate: true%>
                      </div>
                      <div class="col-sm-8">
                          <%= f.input :name ,:label => false ,input_html: {class: "form-control" } ,placeholder: "#{t('val.users.name')}*", validate: true%>
                      </div>
                  </div>
                  <div class="form-group">
                       <%= f.input :surname ,:label => false,input_html: {class: "form-control" } ,placeholder: "#{t('val.users.surname')}*", validate: true%>
                  </div>
                  <div class="form-group">
                       <%= f.input :email,:label => false,input_html: {class: "form-control" } ,placeholder: "#{t('val.users.email')}*", validate: true%>
                  </div>
                  <div class="form-group">
                            <%= f.input :password,:label => false, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),input_html: {class: "form-control" } ,placeholder: "#{t('val.users.password')}*" , validate: true%>
                  </div>
                  <div class="form-group">
                            <%= f.input :password_confirmation,:label => false, required: true,input_html: {class: "form-control" } ,placeholder: "#{t('val.users.password_confirmation')}*" , validate: true%>
                  </div>

              <div class="form-group mt-5">
                   <%= f.button :submit, t('val.users.signupconfirm') , class:  "btn btn-primary  btn-lg form-control  shadow-sm" %>
              </div>
  