                 
                  <%= hidden_field_tag :istteacher, isteacher %>
                  <% if isteacher.to_s == "true" %>
                      <%= f.input :role, :as => :hidden, :input_html => { :value => "teacher" } %>
                  <% end %>
                  <% if isedit %>
                       <div class="notice notice-primary">
                           <p class="h3"><strong><%= t('val.dic.school')%><%= current_user.school.school_name %></strong></p>
                       </div>
                       <%= f.input :school_id, :as => :hidden %>
                   <% end %>
                  <div class="notice">
                          <% if !isedit %>
                              <div class="form-group">
                                  <%= f.input :school_id, collection: [] , required: true,:label => false , validate: true %>
                              </div>
                          <% end %>
                          <% if isteacher.to_s != "true" %>
                              <div class="form-group">
                                   <%= f.input :student_code ,:label => false , required: true ,input_html: {class: "form-control" } ,placeholder: "#{t('val.users.student_code')}*", validate: true%>
                              </div>
                          <% else %>
                              <%= f.input :student_code, :as => :hidden ,:input_html => { :value => "-" }%>
                          <% end %>
                          <div class="form-group row">
                              <div class="col-sm-4">
                                 <%= f.input :prefix , required: true,:label => false,input_html: {class: "form-control" },placeholder: "#{t('val.users.prefix')}*", validate: true%>
                              </div>
                              <div class="col-sm-8">
                                  <%= f.input :name ,:label => false ,input_html: {class: "form-control" } ,placeholder: "#{t('val.users.name')}*", validate: true%>
                              </div>
                          </div>
                          <div class="form-group">
                               <%= f.input :surname ,:label => false,input_html: {class: "form-control" } ,placeholder: "#{t('val.users.surname')}*", validate: true%>
                          </div>
                          <div class="form-group">
                               <%= f.input :email,:label => false,input_html: {class: "form-control" } ,placeholder: "#{t('val.users.email')}*", validate: true%>
                          </div>
                   </div>
                   <div class="notice notice-info">
                    <% if isedit %>
                      <p class="h4"><%= t('val.users.ifchangepassword') %></p> 
                        <div class="form-group">
                          <%= f.input :password, autocomplete: "off",:label => false, hint:  t("val.hint.leaveblack"),input_html: {class: "form-control" } ,placeholder: "#{t('val.users.password')}", required: false %>
                          </div>
                          <div class="form-group">
                              <%= f.input :password_confirmation, required: false, hint: t("val.hint.leaveblack"),:label => false,input_html: {class: "form-control" } ,placeholder: "#{t('val.users.password_confirmation')}" %>
                         </div>
                      <% else %>
                      <div class="form-group">
                                <%= f.input :password,:label => false, required: true, hint: ("#{ format(t("val.hint.minimun_password"),@minimum_password_length)}" if @minimum_password_length),input_html: {class: "form-control" } ,placeholder: "#{t('val.users.password')}*" , validate: true%>
                      </div>
                      <div class="form-group">
                                <%= f.input :password_confirmation,:label => false, required: true ,input_html: {class: "form-control" } ,placeholder: "#{t('val.users.password_confirmation')}*" , validate: true%>
                      </div>
                        <% end %>
                   </div>      
                  <% if isedit %>
                      <div class="notice notice-warning">
                          <div class="form-group">
                                 <%= f.input :current_password, hint: t("val.hint.confirm_password"), required: true ,:label => false,input_html: {class: "form-control" } ,placeholder: "#{t('val.users.current_confirmation')}"  %>
                          </div>
                       </div>      
                  <% end %>
              <div class="form-group mt-5">
                   <%= f.button :submit, t('val.users.signupconfirm') , class:  "btn btn-primary  btn-lg form-control  shadow-sm" %>
              </div>
  